.about {
    line-height: 1.5;

    .iso {
        padding: 16px 0;
        text-align: right;

        .row {
            img {
                width: 68px;
            }
        }
    }

    .section01 {
        padding: 32px 0 60px 0;
        text-align: center;

        h2 {
            margin-bottom: 50px;
        }

        h4 {
            color: $brand_pri_blue;
        }

    }

    .section02 {
        @include sectionPadding();

        .row {
            align-items: center;

            h2 {
                margin-bottom: 8px;
            }

            .imgBox {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

    }

    .section03 {
        @include sectionPadding();

        .row {
            justify-content: space-around;
            gap: 8px;
            .card {
                @include m() {
                    width: 100%;
                }
                
                @include d(1200px) {
                    width: 48%;
                }

                width: 31.333%;

                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url('../../images/about_m_bg_.svg');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 100%;
                // margin: 8px;
                padding: 80px 32px;

                .imgBox {
                    width: 183px;

                    @include d(1024) {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }

                p {
                    line-height: 150%;
                    font-weight: 700;
                    padding: 10px;
                    color: $info;
                }

                .body {
                    padding: 10px;
                    color: $secondary;
                    text-align: left;
                    line-height: 150%;
                }
            }
        }
    }
}