.wrapper {
    .contact {
        padding: map-get($padding, 'section');
        background-image: url('../images/section02.png');
        background-repeat: repeat-x;
        background-position: center;;
        .container {
            .row {

            }
            .content {
                text-align: center;
                align-items: center;
                padding: 16px 0;
                .body {
                    margin: 8px 0;
                    color: $secondary;
                }
            }
        }
    }
}