.index {
    .banner {
        position: relative;

        .content_box {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    .section01 {
        height: 369px;
        background-image: url('../images/section01.png'), url('../images/Group14070.png');
        background-repeat: repeat-x, no-repeat;
        background-position: top, right center;
        background-size: auto;
        display: flex;
        width: 100%;

        h2 {
            text-align: center;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            white-space: pre-line;
        }
    }

    .section02 {
        height: 574px;
        background-image: url('../images/section02.png');
        background-repeat: repeat-x;
        background-position: center;

        h2 {
            font-weight: 600;
        }

        .container {
            .row {
                padding: 8px 0;
                .card {
                    .h2_blue, .body {
                        padding: map-get($padding, 'p-2');
                    }
                }
            }
        }
    }

    .section03 {
        height: 515px;
        background-color: $info;
    }

    .section04 {
        height: 420px;
        padding: 60px 0;
        background-color: $white;
    }
}