.index {
    .section01 {
        height: 369px;
        background-image: url('../images/section01.png');
        background-repeat: repeat-x;
        background-position: top;
    }

    .section02 {
        height: 574px;
        background-image: url('../images/section02.png');
        background-repeat: repeat-x;
        background-position: center;
    }

    .section03 {
        height: 515px;
        background-color: #15779F;
    }
}