.index {
    .section01 {
        height: 369px;
        background-image: url('../images/section01.png');
        background-repeat: repeat-x;
        background-position: top;
        display: flex;
         h2 {
          text-align: center;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center
         }
    }

    .section02 {
        height: 574px;
        background-image: url('../images/section02.png');
        background-repeat: repeat-x;
        background-position: center;
        h2 {
         font-weight: 600;
        }
    }

    .section03 {
        height: 515px;
        background-color: #15779F;
    }
}