.product_main {
    line-height: 1.5;

    .section01 {
        @include sectionPadding();

        .col-5 {
            p {
                text-align: right;
                margin-top: 8px;
            }
        }
        .col-7 {
            padding: 24px 64px;
            h2 {
                margin-left: -20px;
                margin-bottom: 8px;
            }
            ul {
                font-size: 20px;
                li {
                    line-height: 1.75;
                }
            }
        }
    }

    .section02 {
        @include sectionPadding();
        .center-box {
            text-align: center;
            padding: 30px 4px;
            margin-bottom: 11.4px;
            width: 75%;
            h2 {
                margin-bottom: 6px;
            }
        }
        .row {
            margin: auto;
            .card {
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 2px 4px rgba(171,190,209, 0.2); 
                imgBox {
                    width: 162px;
                    height: 162px;
                    margin-bottom: 12px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                h3 {
                    padding: 8px 0;
                    margin-bottom: 12px;
                    color: $info;
                }
                .content {
                    flex-grow: 1;
                }
                .description {
                    white-space: nowrap;
                    margin-bottom: 12px;
                }
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

}