/*css 註解*/
// ======  設定變數 ======
// 字體
// 顏色
// 斷點
// grid col
// 按鈕尺吋 顏色
// 標題字 大小 顏色
//======================== 開始=================================================


// ==== 字體 & 字級大小 ====
$fontFamily : 'Inter',
sans-serif;

//標籤或是class : 字體大小 自己增加
$fontHeadline : (
    '.big1' : 36px,
    '.big2' :28px,
    '.sub_title' : 16px,
    'h1' : 64px,
    'h2' : 36px,
    '.h2_blue':32px,
    'h3' : 28px,
    'h4' : 20px,
    'body' : 16px,
    'description': 14px
);

// ==== 顏色 ====
$secondary : #263238;
$white : #fff;
$gray : #888888;
$primary: #158D44;
$info: #15779F;
$green: #1B8842;
$brand_pri_blue: #12A5DB;
$pri_grey: #728389;
$pri_blue: #113147;
//

$padding: (
    'p-1': 1rem,
    'p-2': 2rem,
    'section': 4rem 0,
);

.normal-button {
    font-size: 16px;
    font-weight: 500;
    color: $white;
    background-color: $info;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    &:hover {
        background-color: #208eba;
    }
}

.card {
    text-align: center;
    padding: 24px 32px;
    color: $info;
}




$fontColor : $secondary; // color
$backgroundColor: $white; //背景色

// 字的顏色

$fontcolor : (
    '.brand_pri_blue' : #12A5DB,
    '.primary_blue' : #113147,
);

//  背景色 前面是class 後面是值
$bgcolor : ('.brand_primary_blue' : #15779F);




// ==== 斷點 ====
$m : 768px;
$t : 1024px;
$layout_max_width : 1160px; //container 最大的寬度

// ====












//border-radius
$border-radius-1 : 4px;
$border-radius-2 : 8px;
$border-radius-3 : 12px;
$border-radius-4 : 16px;