//  共用的寫在這裡
* {
   box-sizing: border-box;
}

body {
   font-family: $fontFamily;
   font-size: 16px;
}

.wrapper {
   width: 100%;
   background-color: $backgroundColor;
   color: $fontColor;
}

.img_box {
   width: 100%;
   height: 100%;
   vertical-align: middle;
   object-fit: cover;
}

button {
   cursor: pointer;
}

.between {
   justify-content: space-between;
}

// 顏色定義 測試



.h {
   height: 300px;
}