//  共用的寫在這裡
* {
 box-sizing: border-box;
}

body {
 font-family: $fontFamily;
 font-size: 16px;
}

.wrapper {
 width: 100%;
 background-color: $backgroundColor;
 color: $fontColor;
}


// 顏色定義 測試



.h {
   height: 300px;
}