//  共用的寫在這裡

.wrapper {
 width: 100%;
 background-color: $backgroundColor;
 color: $fontColor;
}

// 顏色定義 測試

.color1 {
  background-color: $primary;
}

.color2 {
  background-color: $secondary;
}

.h {
   height: 300px;
}