.banner {
    height: 394px;
    background-image: url('../../images/banner_main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}