header {
  // background-color: #d6d6d6;


  .row {
    justify-content: space-between;
    align-items: center;
    height: 66px;
  }

  .logo {
    width: 145px;
    height: 42px;
    font-size: initial;
  }

  nav {
    width: 300px;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0;
        padding: 0 10px;

        a {
          color: $secondary;
          text-decoration: none;

          &:hover {
            color: lighten($secondary, 20)
          }
        }
      }
    }
  }

}