<footer>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <a href="index.html">
          <img src="../images/conpart_logo_white.svg" alt="logo">
        </a>
        <div class="content">
          <p>
            Copyright © 2023 Conpart AS.
          </p>
          <p>
            All rights reserved.
          </p>
        </div>
      </div>
      <div class="col-3">
        <h4>Website</h4>
        <ul>
          <li><a href="about.html">About us</a></li>
          <li><a href="contactUs.html">Contact us</a></li>
          <li><a href="product_main.html">Products</a></li>
        </ul>
      </div>
      <div class="col-4">
        <div class="box">
          <h4>Contact</h4>
          <ul>
            <li>
              <a href="https://maps.app.goo.gl/sHTgiRS5BQCqwfYi6" target="_blank">Dragonveien 54, 2013 Skjetten, Norway</a>
              </li>
            <li>E: <a href="mailto:info@conpart.no">info@conpart.no</a></li>
            <li>F: <a href="tel:+4764004030">+47 64 00 40 30</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>